<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %} The U-Find-It contest</title>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/main.css" />
    <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.validate.min.js"></script>
    <!--script type="text/javascript" src="/media/js/jquery.min.js"></script-->
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>