{% extends "base.html" %} 
{% block body %}
    {% include "rules_game_g.html" %}

<center>
    <h1><a href="start_playing_now">Start playing now - good luck!</a></h1>
</center>

    <hr style="margin-top: 30px"/>
    <h1>Example question:</h1>

    {% include "game_example.html" %}

<div style="text-align:left">
<h2> Who is organizing this and why </h2>

<p>This contest is organized by the Emory University's IR Lab (<a href="http://ir.mathcs.emory.edu">http://ir.mathcs.emory.edu</a>). 
The goal of this contest is to better understand how users search on the web for information of varying difficulty, 
which strategies are more successful than others, and how we could better help people find information on the web. 
To accomplish this, our contest interface will track the search queries issued, the documents clicked the amount of time a 
search takes, and other variables. The resulting data, not associated with any identifiable information about each player, 
may be shared with other IR researchers for scientific use. </p>

<h2>Contact information and fine print</h2>

<p>This contest is organized by the Emory University IR Lab as part of a research effort to study and improve web search quality. 
This research has been reviewed and approved by the Emory University IRB. If you have any questions or concerns 
about the contest or the research project, you may contact the principal investigator, Dr. Eugene Agichtein, at 
<a href="mailto:eugene@mathcs.emory.edu?subject=uFindIt contest">eugene@mathcs.emory.edu</a> by using email with the subject 
"uFindIt contest". </p>

<p>For any other questions or concerns, you may contact the Emory IRB office
(contact information available at  <a href="http://www.irb.emory.edu/">http://www.irb.emory.edu/</a>). 

</div>
{% endblock %}
