<h1>Search Contest Instructions</h1>

<div style="text-align: left;">
<p>You will need to find answers to 10 questions by <b>searching the web</b> using <b>our search interface</b> provided below. 
In this contest you will need to use your best search skills, general knowledge, and quick thinking.
<b>We hope this contest is fun, and challenges you to use search creatively!</b></p>

<p>The best players (who submit correct answers to the most questions, following the rules below) 
will receive a small $5 gift certificate as a prize. 
You would have to provide a valid email address to receive the certificate code.</p>

<p>There will be 10 questions. The maximum time allotted to answer each question is 10 minutes. The answer must consist of two parts:</p> 

<ul>
  <li>The <b>answer</b> text (usually a few words only)
  </li><li>One or more links to the <b>supporting pages</b> that should explicitly contain this information.
</li></ul>

<p style="background-color:#FFFF99">You should <b>only search</b> using <b>our search interface</b> and <b>only browse</b>
pages through <b>our proxy</b> <nobr>(<a href="http://ir-ub.mathcs.emory.edu:8100/http/">http://ir-ub.mathcs.emory.edu:8100/http/</a>)</nobr>  during the search.
<b>Do NOT</b> use your browser "location" bar, search toolbar, or search engine opened 
in a new browser window as the resulting URLs will not be captured and <b>disqualify your answers</b>.</p>

<p><b>Finally, your browser must support cookies.</b></p>

<center><h1>Contest Rules:</h1></center>

<ul>
<li>An <b>answer</b> is considered <b>CORRECT</b> if there is a web page containing your answer, 
you provided its URL, and you have find an answer using our search proxy.</li>

<li>An <b>answer</b> is considered <b>INCORRECT</b> if:

  <ul>
   <li>One of the fields above is missing
   <li>The provided page does not contain the answer
   <li>The answer is too vague or does not address the question directly
   <li>The web page is manipulated by the participant (manually or automatically), to contain the answer.
   <li>The answer was not found through our search interface (logs will be checked to confirm that our interface was used).
  </ul>
</ul>

<p>Since this is a research project, the judging of the best players will be done by a separate team of volunteer assessors, 
by manually reviewing the answers and the browsing logs. Thus, we reserve the right to award one, all, or none of the players, 
depending on the quality of the submissions. </p>

</div>
