<h1>Task instructions</h1>

<div style="text-align: left;">
<p>You need to find answers to 10 questions by searching the web and submitting queries to the search interface <b>provided below</b>.
Use your best search skills, general knowledge, and quick thinking.
</p>

<p>Best MTurk players (who submit most number of correct answers) will receive additional <b>$1 bonus</b>.

<p>There will be 10 questions. Time allotted to answer each questions is 10 minutes.
The answer must consist of two parts: </p>
<ul>
  <li>The <b>answer</b> text (usually a few words only)
  </li><li>One or more links to the <b>supporting pages</b> that should explicitly contain this information.
</li></ul>

<p style="background-color:#FFFF99">You should find information using <b>our search interface</b>
and browse pages through <b>our proxy</b> <nobr>(<a href="http://ir-ub.mathcs.emory.edu:8100/http/">http://ir-ub.mathcs.emory.edu:8100/http/www...</a>)</nobr> during the search.
<br>Do NOT use your browser "location" bar, search toolbar, or search engine opened in new browser window.
</p>

<p>Your browser must support cookies.

</p><p>An answer is considered correct if there is a web page containing your answer, you provided its URL,
and you have find an answer using our search proxy.

</p><p>An <b>answer</b> is considered <b>INCORRECT</b> if:

</p><ul>
  <li>One of the fields above is missing
  </li><li>The provided page does not contain the answer
  </li><li>The answer is too vague or does not address the question directly
  </li><li>The web page is manipulated by the participant (manually or automatically), to contain the answer.
  </li><li>The answer was not found through our search interface (logs will be checked to confirm that our interface was used).

</li></ul>

</div>
