{% extends "base.html" %} 
{% block title %}Subscribe to {% endblock %}
{% block body %}
<div class="subscribe">
{% if pmessage|length > 0 %}<h1 class="message">{{ pmessage }}</h1>{% endif %}
<h1 style="margin-bottom:30px;">Register to play in the u-Find-It contest</h1>

<form action="" method="post" id="id_subscribe_form">
<div>
  <fieldset class="module aligned">
     <div class="form-row email"><div>
            <label for="id_email" class="email">Email (optional):</label>
                <input name="email" value="" class="vTextField email" maxlength="75" type="text" id="id_email" />
                The email address will only be used to send you prize information, and will be deleted after the game is over.
     </div></div>

     <div class="form-row name"><div>
            <label for="id_name" class="required">User name (required):</label>
                <input name="name" value="" class="vTextField required" maxlength="50" type="text" id="id_name" />
                 Please use a non-generic name to distinguish you from other players.
     </div></div>
  </fieldset>
  <input type="submit" value="Submit" name="_submit" style='background-image: url("/media/img/admin/default-bg-reverse.gif"); background-position: center top;'/>
</div>
</form>
</div>
<script>
    $(document).ready(function(){
        $("#id_subscribe_form").validate();
        $('#id_email').focus();
    });
</script>
{% endblock %}